
PersonalStockMarcket/C#-FrontEnd/.vs/FrontEnd/v16/.suo
PersonalStockMarcket/C#-FrontEnd/FrontEnd.Android/bin/Debug/FrontEnd.Android.dll
PersonalStockMarcket/C++_StatsSystem/Debug
PersonalStockMarcket/C++_StatsSystem/packages
PersonalStockMarcket/C++_StatsSystem/.vs