PersonalStockMarcket/C#-FrontEnd/.vs
PersonalStockMarcket/C#-FrontEnd/obj
PersonalStockMarcket/C#-FrontEnd/bin
PersonalStockMarcket/C#-FrontEnd/FrontEnd.Android/bin
PersonalStockMarcket/C++_StatsSystem/Debug
PersonalStockMarcket/C++_StatsSystem/packages
PersonalStockMarcket/C++_StatsSystem/.vs